.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    background-color: #5d87b0;
    padding: 10px 0;
    box-sizing: border-box;
}