*{
    border: 1px solid red;
}
.subPagesContainer{
    margin-left: calc(50% - 400px);
    width: 800px;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
}
h1, h2, h3, h4, h5, h6{
    font-weight: bold;
    text-align: center;
}

.userNameContainer{
    width: 230px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #2ba6cb;
    border-radius: 3px;
    border: 1px solid #1e728c;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    margin: 15px 5px 0 0;
    padding: 10px 15px;
}
/* Components */
.button{
    background: #2ba6cb;
    border-radius: 3px;
    border: 1px solid #1e728c;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin: 15px 5px 0 0;
    outline: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
}
.input{
    width: 100px;
}

/* ============= LobyPage ============= */
.removeSomeFlexiPropp{
    justify-content: none;
    flex-direction: none;
    display: block;
}
.gameListContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.gameListContainer div{
    width: 50%;
}
.mainLobyPage{
    display: flex;
    flex-direction: row;
}
.mainLobyPage{
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
}
.fillOut50{
    width: 50%;
}
.gameNamePart{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gameListcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}